/* src/components/FAQ.module.css */
.faqContainer {
  margin: 10px 20px;
  margin-top: 25px;
  padding-bottom: 8px;
  /* border: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
  /* border-radius: 5px; */
  /* background-color: #f9f9f9; */
  color: black;
}

.faqTitle {
  cursor: pointer;
  /* font-weight: bold; */
  margin-bottom: 10px;
  position: relative;
  padding-right: 20px; /* espacio para el icono */
}

.faqTitle:hover{
  text-decoration: underline;
}

.faqTitle::marker {
  content: ''; /* Ocultar el icono predeterminado */
}

.faqButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faqButton:hover {
  background-color: #f1f1f1;
}

.faqIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

details[open] .faqIcon {
  transform: translateY(-50%) rotate(180deg);
}